@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Kurale);

/*************************
*******Typography******
**************************/

.sponsorNav{
    position: fixed !important;
    left: 0px;
    top:0px;
    font-family: 'Kurale', serif;
    font-size: 20px;
    width: 280px;
    background-color: white;
    box-shadow: 6px 0px 7px #8A7777;
    border-radius: 0px 0px 10px 0px;
}
.fixed-menu .sponsorNav{
    box-shadow : 0px 0px 0px black;
}
#titleSponsorLogo{
    background-image: url("../images/canara.png");
    width: 150px;
    height: 38px;
    background-size: cover;
    display: inline-block;
    border-radius: 10px;
    margin-top: 5px;
}

#titleSponsorText{
    margin: 10px;
    display: inline;
    float: left;
    color: #AD0000;
}

@font-face {
    font-family: bf;
    src: url(../fonts/BenjaminFranklin.ttf);
}
@font-face {
    font-family: rq;
    src: url(../fonts/Requiem.ttf);
    font-weight: bold;
}
a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
a:focus,
a:hover {
    text-decoration: none;
    outline: none
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 300;
}
h2 {
    font-size: 36px
}
.navbar-toggle {
    margin-top: 12px
}
.navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-toggle,
.navbar-toggle:focus {
    border: 1px solid #000;
    outline: none;
}
sup {
    font-size: 12px;
}
/*************************
*******Header CSS******
**************************/

.header-top {
    display: block;
    overflow: hidden;
    padding: 25px;
}
.main-nav {
    position: absolute;
    width: 100%;
    z-index: 999;
}
.main-nav .container {
    width: 100%
}
.social-icons a {
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
}
.social-icons .fa-facebook:hover {
    color: #3B5997
}
.social-icons .fa-twitter:hover {
    color: #29C5F6
}
.social-icons .fa-google-plus:hover {
    color: #D13D2F
}
.social-icons .fa-youtube:hover {
    color: #ec5538
}
.navbar-brand {
    background-color: #FFFFFF;
    height: 90px;
    margin-bottom: 20px;
    position: relative;
    width: 297px;
}
.navbar-brand img {
    position: absolute;
    top: 8px;
    left: 45px;
}
.navbar-right {
    padding: 0 95px 0 0;
}
.navbar-right li a:focus,
.navbar-right li a {
    padding: 15px 9px;
    font-size: 15px;
    color: #040126;
    text-transform: uppercase;
    font-family: rq;
    font-weight: 400;
    text-shadow: 1px 2px 14px white;
    letter-spacing: 2px;
}
.navbar-right li a:hover,
.navbar-right .active a {
    color: #f70c0c
}
.nav>li>a:hover,
.nav>li>a:focus {
    background-color: inherit;
}
.fixed-menu {
    background-color: white;
    position: fixed;
    top: 0;
}
.fixed-menu .navbar-right {
    padding: 0;
}
.fixed-menu .navbar-right li a {
    font-size: 18px;
    padding: 20px 25px;
    text-shadow: inherit;
    color: #040000;
}
.fixed-menu .navbar-right .active a {
    background-color: #fff;
    color: #f70c0c
}
.fixed-menu .navbar-brand {
    height: 60px;
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
    width: 125px;
}
.fixed-menu .navbar-brand img {
    height: 60px;
    top: 0;
}
.fixed-menu .header-top {
    display: none;
}
/*************************
*******Home CSS******
**************************/

#socialIcons{
    position: fixed;
    top:25%;
    z-index: 1000;
}
#fbSocialProfile{
    background-image: url('../images/fb.jpeg');
    width: 40px;
    height: 40px;
    background-size: cover;
    box-shadow: 2px 2px 2px gray;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.ximera-heading {
    font-size: 70px;
}
.aboutXimera,
#explore h1,
#explore h2 {
    text-transform: inherit;
    font-size: 1.4em;
    line-height: 1.6em;
    text-align: justify;
    font-family: 'Kurale', serif;
    width: 70%;
    margin-left: 15%;
    color: black;
    text-shadow: 0px 1px white;
}
#explore h1 {
    font-size: 1.5em;
}
#explore h2 {
    font-size: 1.3em;
}
#explore hr {
    width: 40%;
}
#home {
    position: relative;
    overflow: hidden;
}
#main-slider img {
    width: 100%;
}
#main-slider .carousel-caption {
    color: #fff;
    top: 6%;
}
#main-slider .carousel-caption h2 {
    font-size: 26px;
    font-family: bf;
    padding-top: 14px;
    color: firebrick;
    text-shadow: 0 1px 2px white;
}
#main-slider .carousel-caption h3 {
    text-shadow: none;
    font-size: 25px;
    color: maroon;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
}
#main-slider .carousel-caption a {
    font-size: 27px;
    font-family: bf;
    color: firebrick;
    text-shadow: 1px 1px 15px #FFFFFF;
}
#main-slider .carousel-caption a:hover i {
    margin-left: 35px
}
#main-slider .carousel-caption a i {
    margin-left: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.dateInfo {
    font-size: 28px;
    font-family: bf;
    color: #D20E05;
    text-shadow: 0 1px 2px white;
    margin-top: 18px;
}
/*************************
*******Events CSS******
**************************/

#events .halo {
    display: none;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
    box-shadow: 2px 2px 2px black;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 10;
}
#waitAnimation {
    display: none;
    position: fixed;
    top: 80px;
    margin-left: 40%;
    width: 300px;
    height: 300px;
    z-index: 20;
}
#waitAnimation #border {
    position: absolute;
    top: 0px;
    background-image: url("../images/events/infoimages/XIMERA_Logo_Border.png");
    width: 300px;
    height: 300px;
    background-size: cover;
    z-index: 20;
    -webkit-animation: rotating 8s linear infinite;
    -moz-animation: rotating 8s linear infinite;
    -ms-animation: rotating 8s linear infinite;
    -o-animation: rotating 8s linear infinite;
    animation: rotating 8s linear infinite;
}
#waitAnimation #icon img {
    width: 150px;
    background-size: cover;
    margin-top: 125px;
    position: relative;
}
@-webkit-keyframes rotating
/* Safari and Chrome */

{
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.eventInfoBg {
    height: 570px;
    background-size: cover;
    background-image: url('../images/events/infoimages/paper_texture.jpg');
}
.eventInfoBg .header {
    padding: 25px;
    text-align: left;
}
.eventInfoBg .titleSection {
    width: 70%;
    display: inline-block;
}
.eventInfoBg .title {
    font-size: 60px;
    color: #7A5D34;
    text-shadow: 2px 2px white;
}
.eventInfoBg .subtitle {
    font-size: 25px;
}
.eventInfoBg .eventIcon {
    width: 25%;
    display: inline;
    margin-top: -70px;
}
.eventInfoBg .summary {
    margin-top: -30px;
}
.eventInfoBg .civilizationTitle {
    text-align: center;
    font-family: bf;
    color: firebrick;
    font-size: 20px;
    text-shadow: 2px 2px white;
}
.eventInfoBg .summaryText1,
.eventInfoBg .summaryText2,
.eventInfoBg .summaryText3 {
    margin: 17px;
    font-family: bf;
    text-align: left;
    font-size: 16px;
}
.eventInfoBg .paricipantNo,
.eventInfoBg .regFee,
.eventInfoBg .prizeMoney1,
.eventInfoBg .prizeMoney2 {
    font-family: 'Kurale', serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}
.eventInfoBg .prizeMoney2 {
    margin-left: 100px;
}
.eventInfoBg .infoFooter {
    font-family: 'Kurale', serif;
    font-size: 16px;
    padding: 0px 0px 20px 10px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.eventInfoBg .registrationText {
    float: left;
    text-shadow: 2px 2px white;
    text-decoration: underline;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.eventInfoBg .registrationText a {
    color: firebrick;
}
.eventInfoBg .contactInfo {
    text-align: left;
}
.event {
    display: inline-block;
    width: 225px;
    color: #920707;
}
.event-item img {
    width: 100%;
    padding: 20px;
    cursor: pointer;
    border-radius: 125px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -kthtml-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.event .infoWrapper {
    display: none;
    position: fixed;
    top: 80px;
    z-index: 15;
    left: 25%;
    width: 50%;
}
.event .infoWrapper .next {
    position: absolute;
    width: 20px;
    height: 20px;
    right: -10%;
    color: white;
    top: 50%;
    cursor: pointer;
}
.event .infoWrapper .prev {
    position: absolute;
    width: 20px;
    height: 20px;
    left: -10%;
    color: white;
    top: 50%;
    cursor: pointer;
}
.event .info .close {
    width: 25px;
    position: absolute;
    right: -13px;
    top: -11px;
    height: 25px;
    background-color: #631111;
    border-radius: 25px;
    padding: 1px;
    color: #E8D2D2;
    opacity: 1;
}
.event-item img:hover {
    box-shadow: 2px 2px 2px black;
}
.event-item.selected img:hover {
    box-shadow: 0px 0px 0px black;
}
.event-title {
    font-size: 30px;
}
.event-subtitle {
    font-size: 20px;
}
.detailsMore {
  padding-top: 13px;
  font-family: 'Kurale', serif;
  font-weight: 500;
  font-size: 18px;
  color: #630606;
  text-decoration: underline;
}
#explore {
    text-align: center;
}
#explore .exploreBg{
    position: absolute;
    width: 100%;
    left: 0px;
    opacity: 0.7;
}
#explore .container {
    padding-top: 47px;
    position: relative;
}
/*************************
*******schedule CSS******
**************************/

#events {
    background-image: url('../images/noisy-texture.png');
    background-color: #F9F4DA;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: rq;
    position: relative;
}
#events .arrow {
    color: black;
}
#events .row {
    width: 76%;
    margin-left: 12%;
}
.single-event {
    text-align: center;
}
.single-event h4 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 25px;
    text-transform: uppercase;
}
.single-event h5 {
    font-size: 18px;
    font-weight: 100;
    display: block;
}
#sponsers .arrow {
    color: black;
}
#sponsor .container {
    padding-top: 47px;
}
#sponsor {
    background-color: #FFF;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    padding-bottom: 5%;
}
.sponsorer {
    margin: 20px;
    display: inline-block;
}
.light {
    position: absolute;
    right: 0;
    bottom: 0;
}
#sponsor .col-sm-10 {
    z-index: 10;
}
#sponsor h2 {
    margin-top: 90px;
    margin-bottom: 40px;
}
#sponsor .item ul {
    font-size: 0;
    padding: 0;
}
#sponsor .item ul li {
    display: inline-block;
    list-style: none;
    width: 33.33%;
    margin-bottom: 75px;
}
#sponsor .item ul li:last-child {
    margin-right: 0
}
.sponsor-control-left,
.sponsor-control-right {
    color: #FFFFFF;
    font-size: 24px;
    position: absolute;
    top: 20%;
}
.sponsor-control-left {
    right: 12%
}
.sponsor-control-right {
    right: 10%
}
#map {
    position: relative;
}
#gmap {
    height: 450px;
}
.contact-section {
    text-align: center;
    font-family: 'Kurale', serif;
    color: black;
    text-shadow: 1px 1px #FFFFFF;
}
.contact-section .contactBg {
    position: absolute;
    width: 100%;
    left: 0px;
    max-height: 1000px;
}
#contact .container {
    padding-top: 47px;
    position: relative;
}
#contact h3 {
    text-transform: inherit;
    color: #373737;
}
#contact-section h3 {
    margin-bottom: 25px
}
#contact address {
    font-size: 21px;
}
/*************************
******Footer CSS****
**************************/

#main-slider img.ximera-logo {
    width: 370px;
    margin: 0 auto;
    margin-top: -6px;
}
