/* lg */

@media (min-width: 1200px) {}
/* md */

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-right {
        padding: 0 30px 0 0;
    }
    .fixed-menu .container {
        width: 100%;
    }
    .fixed-menu .navbar-right {
        padding-right: 30px;
    }
    .fixed-menu .navbar-right li a {
        padding: 20px;
    }
}
/* sm */

@media (min-width: 768px) and (max-width: 991px) {
    #main-slider img.ximera-logo{
        width: 230px;
    }
    #contact h1{
        font-size: 20px;
    }
    #contact address{
        font-size: 15px;
    }
    .event{
        width:230px;
    }
    .event-item img{
        width : 85%;
    }
    .event-title{
        font-size: 20px;
    }
    .event-subtitle{
        font-size: 15px;
    }
    .contact-section .contactBg{
        display: none;
    }
    #contact  {
        background-color: #1A6E88;
    }
    #explore {
        background-color: rgba(255, 200, 0, 0.62);
    }
    #explore .exploreBg{
        display: none;
    }
    .eventInfoBg .civilizationTitle,
    .eventInfoBg .subtitle{
        font-size: 15px;
    }
    
    .navbar-brand {
        width: 215px;
        height: 60px;
    }
    .navbar-right {
        padding: 0;
    }
    .navbar-right li a {
        padding: 20px 11px;
        font-size: 17px;
    }
    .fixed-menu .container {
        width: 100%;
    }
    .fixed-menu .navbar-right {
        padding-right: 30px;
    }
    .fixed-menu .navbar-right li a {
        padding: 20px 15px;
        font-size: 17px;
    }
    #countdown li {
        margin-right: 15px;
    }
    .sponsor-control-left {
        right: 8%;
    }
    .sponsor-control-right {
        right: 5%;
    }
    .guitar,
    .ear-piece,
    .light {
        display: none;
    }
    .watch {
        left: -8%
    }
    .guitar2 {
        height: 100%;
    }
    .guitar2 img {
        padding-top: 38%;
    }
    .twit {
        left: -5%;
    }
}
/* xs */

@media (max-width: 767px) {
  #main-slider img.ximera-logo{
    width: 250px;
  }
  .registrationInfo {
    margin-top: 20px;
  }
    .contact-section .contactBg{
        display: none;
    }
    #contact  {
        background-color: #1A6E88;
    }
    #explore {
        background-color: rgba(255, 200, 0, 0.62);
    }
    #explore .exploreBg{
        display: none;
    }

    sup{
        font-size: 10px;
    }
    .fixed-menu .navbar-right li a{
        text-align: center;
        border-bottom: 1px solid rgba(128, 128, 128, 0.59);
        padding: 10px 25px;
    }

    .fixed-menu .navbar-right{
        background-color: white;
    }
    .fixed-menu {
        background-color: black;
    }
    #main-slider img.img-responsive{
        display: none;
    }
    #main-slider .carousel-caption{
        padding: 0px;
    }
    .main-nav .container {
        display: none;
    }
    .fixed-menu .container {
        display: block;
    }
    .fixed-menu .container {
        width: 100%;
    }
    .navbar-brand {
        width: inherit;
    }
    .fixed-menu .navbar-right li a {
        padding: 7px 25px;
    }
    #home {
        margin-top: 10%;
    }
    #main-slider .carousel-caption {
        bottom: 17%;
        padding: 10px;
        line-height: 0;
        position: initial;
    }
    #main-slider img.img-responsive {
        position: absolute;
    top: 20%;
    }
    .event-item {
        width: 175px;
    }
    #events .expand {
        width: 70px;
        font-size: 13px;
    }
    .container-schedule .content {
        font-size: 13px;
    }
    .container-schedule .tabs {
        font-size: 14px;
    }
    .tabs nav {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
    #main-slider .carousel-caption h2 {
        font-size: 20px;
        margin-top: 3px;
    }
    #main-slider .carousel-caption h4 {
        font-size: 16px;
    }
    #explore {
        padding: 53px 0 100px;
    }
    #explore h2 {
        float: inherit;
        font-size: 30px;
        margin-bottom: 30px;
    }
    #countdown li {
        font-size: 14px;
        margin-right: 35px;
        width: inherit;
    }
    #countdown li span {
        font-size: 24px;
        height: 60px;
        line-height: 60px;
        width: 60px;
    }
    #countdown li:before,
    #countdown li:after {
        top: 25px;
    }
    .cart a {
        font-size: 18px;
    }
    .cart a i {
        font-size: 20px;
        padding: 15px;
    }
    /*event */
    .single-event {
        margin-bottom: 40px;
    }
    #event h2,
    #about h2,
    #sponsor h2 {
        font-size: 30px;
    }
    #sponsor {
        background-position: right 0 bottom 0;
    }
    .sponsor-control-left,
    .sponsor-control-right {
        top: 0;
    }
    .sponsor-control-left {
        right: 10%;
    }
    .sponsor-control-right {
        right: 5%;
    }
    #sponsor .item ul li {
        width: 30%;
        margin-right: 3%
    }
    #sponsor .item ul li:last-child {
        margin-right: 0;
    }
    #footer {
        font-size: 16px;
    }
    .watch,
    .guitar,
    .guitar2,
    .twit,
    .light,
    .ear-piece {
        display: none;
    }
    .contact-section {
        background-position: left 0 bottom 0;
        background-size: cover;
    }
    .about-content {
        width: 100%;
        padding: 70px 25px 110px;
    }
}
/* XS Portrait */

@media (max-width: 479px) {
  #main-slider img.ximera-logo{
    width: 250px;
  }
  .registrationInfo {
    margin-top: 20px;
  }
    .dateInfo {
        font-size: 20px;
    }
        .eventInfoBg .title{
        font-size: 20px;
    }
    .eventInfoBg .civilizationTitle,
    .eventInfoBg .subtitle{
        font-size: 15px;
    }
    .eventInfoBg .summaryText1, .eventInfoBg .summaryText2, .eventInfoBg .summaryText3 {
        font-size: 9px;
    }
    .eventInfoBg .paricipantNo, .eventInfoBg .regFee, .eventInfoBg .prizeMoney1, .eventInfoBg .prizeMoney2
    {
        font-size: 9px;
    }
    .event .infoWrapper{
        left:auto;
        width: auto;
    }
    .eventInfoBg {
        height: auto;
    }
    sup{
        font-size: 10px;
    }
    sub{
      bottom:0px;
    }
    .main-nav .container {
        display: none;
    }
    .fixed-menu .container {
        display: block;
    }
    #explore {
        padding: 30px 0 20px;
    }
    .aboutXimera {
        font-size: 0.9em;
    }
    /* Home */
    #home {
        margin-top: 18%;
    }
    .fixed-menu .container {
        width: 100%;
    }
    .navbar-brand {
        width: inherit;
    }
    #main-slider .carousel-caption {
        bottom: 17%;
        line-height: 0;
    }
    #main-slider .carousel-caption h2 {
        font-size: 18px;
        margin-top: 3px;
    }
    #main-slider .carousel-caption h4 {
        font-size: 14px;
    }
    #main-slider .carousel-caption a {
        font-size: 12px;
    }
    /* Explore */
    #explore h2 {
        float: inherit;
        font-size: 17px;
        margin-bottom: 30px;
    }
    
    /*event */
    .event{
        width:auto;
    }
    .event-title{
        font-size: 20px;
    }
    .event-subtitle{
        font-size: 15px;
    }
    .contact-section .contactBg{
        display: none;
    }
    #contact  {
        background-color: #1A6E88;
    }
    #contact address{
        font-size: 15px;
    }
    .single-event {
        margin-bottom: 40px;
    }
    .about-content {
        width: 100%;
        padding: 70px 30px 110px;
    }
    #event h2,
    #about h2,
    #sponsor h2 {
        font-size: 30px;
    }
    #sponsor {
        background-position: right 0 bottom;
    }
    .contact-section {
        background-position: left 0 bottom 0;
        background-size: cover;
    }
}
